* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box1{
    position: relative;
    width: 400px;
    height: fit-content;
    background: #eaf6fe;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.login-box{
    position: relative;
    width: 400px;
    height: fit-content;
    background: #eaf6fe;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-box{
    position: relative;
    height: fit-content;
    width: 400px;
    background: #eaf6fe;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-box{
    position: relative;
    height: 350px;
    width: 400px;
    background: #eaf6fe;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2{
    font-size: 2em;
    color: #70351f;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.input-box input[readonly] + label {
    top: -5px;
}


.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    transition: .5s;
}

.input-box input{
    width: 100%;
    height: 50px;
    border: 0;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
    font-size: 1em;
    color: #000;
    padding: 0 69px 0 5px;
}

#email-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
}

#password-error{
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 12px;
    font-weight: 400;
    color: red;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    width: 20px;
    color: #000;
    font-size: 1.2em;
    line-height: 57px;
}


.input-box .eye{
    position:absolute;
    right: 45px;
    width: 20px;
    color: #000;
    font-size: 1.2em;
    line-height: 60px;
    cursor: pointer;
}

#form.invalid #inputBox :before{
    content: '' ;
    position: absolute;
    top: 15px;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url(invalid.png);
    background-size: cover;
}
#form.valid #inputBox :before{
    content: '' ;
    position: absolute;
    top: 15px;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url(valid.png);
    background-size: cover;
}

.remember-forgot{
    margin: 15px 0 5px;
    font-size: .9em;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    background: #865b4b;
    transition: all 0.2s ease;
}

button:hover{
    background: #70351f;
}
#send{
    position: absolute;
    top: 12px;
    right: 8px;
    width: 20%;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: .85em;
    color: #fff;
    font-weight: 500;
    background: #865b4b;
    transition: all 0.2s ease;
}

.register-link{
    font-size: .9em;
    color: #000;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.register-link1{
    font-size: .9em;
    color: #ff0101;
    text-align: center;
    margin: 5px 0 5px;
}

@media (max-width: 450px) {
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }    
    .input-box{
        width: 90vw;
    }
}